body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#4b708d, #0b1425);
    background-attachment: fixed
}

header{
    padding: 30px;
    text-shadow: 0 0 5px #4b708d; 
    background: linear-gradient(#0b1425, #1f3854);
    color: #c9dbe9;
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    justify-content: center;
    box-shadow: 0 2px 20px #0b1425;
}



.task-form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
}

#task-form{
    background-color: #1f3854;
    border-radius: 5px;
    height: 100px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 0px 20px #6daad869;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.field {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #c9dbe9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#input-task::placeholder{
    color: #c9dbe9;

}

#input-task{
    padding-left: 10px;
    color: #c9dbe9;
    background-color: #1f3854;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);

}

#input-task:focus{
    outline: none;
    background-color: #4b708d;
}

#select-priority{
    height: 27px;
    color: #c9dbe9;
    outline: none;
    border: none;
    background-color: #1f3854;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
    transition: background-color 0.2s ease;
    appearance: none;
    padding-left: 5px;
}

#select-priority:hover{
    background-color: #4b708d;
}

#button{
    height: 27px;
    width: 50px;
    font-size: 16px;
    color: #c9dbe9;
    background-color: #1f3854;
    border-radius: 5px;
    border: 1px solid #243c57;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#button:hover{
    cursor: pointer;
    background-color:#4b708d;
}

#button:active{
    transform: scale(0.9);
}

#select-priority:focus{
    outline: none;
}

.task{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: auto;
    background: linear-gradient(#4b708d, #243c57);
    border-radius: 10px;
    border: 2px solid #1f3854;
    box-shadow: 0 0 50px #c9dbe92a;
    padding-left: 50px;
    padding-bottom: 20px;
    color: #c9dbe9;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

